<GridLayout>
    <StackLayout>
        <RadSideDrawer>
            <FlexboxLayout tkDrawerContent class="drawer-container">
                <Button text="Boarding" (tap)="navigate(pageUrl.Boarding)" class="btn btn-primary"></Button>
                <Button text="Live Video" (tap)="navigate(pageUrl.LiveVideo)" class="btn btn-primary"></Button>
                <Button text="Contact" (tap)="navigate(pageUrl.Contact)" class="btn btn-primary"></Button>
                <Button text="Home" (tap)="navigate(pageUrl.Home)" class="btn btn-primary"></Button>
                <Button text="Services" (tap)="navigate(pageUrl.Services)" class="btn btn-primary"></Button>
                <Button text="Logout" (tap)="onLogout()" class="btn btn-primary"></Button>
            </FlexboxLayout>
            <GridLayout tkMainContent rows="*, auto">
                <StackLayout row="0">
                    <page-router-outlet></page-router-outlet>
                </StackLayout>
                <BottomNavigationBar
                    #bottomNavigationBar
                    row="1"
                    titleVisibility="Selected"
                    (loaded)="onBottomNavigationBarLoaded()"
                    (tabSelected)="onBottomNavigationTabSelected($event)"
                >
                    <!-- Whenever these tabs are updated, you must also update the _pageIndexMap in pages.component.ts -->
                    <BottomNavigationTab title="Home" icon="res://ic_home_solid"></BottomNavigationTab>
                    <BottomNavigationTab title="Boarding" icon="res://ic_calendar_solid"></BottomNavigationTab>
                    <BottomNavigationTab title="Live Video" icon="res://ic_video_solid"></BottomNavigationTab>
                    <BottomNavigationTab title="Contact" icon="res://ic_phone_alt_solid"></BottomNavigationTab>
                    <BottomNavigationTab title="Profile" icon="res://ic_user_circle_solid"></BottomNavigationTab>
                </BottomNavigationBar>
            </GridLayout>
        </RadSideDrawer>
    </StackLayout>
    <GridLayout class="activity-overlay" *ngIf="loading$ | async" (tap)="doNothing()">
        <AbsoluteLayout>
            <MDActivityIndicator busy="true"></MDActivityIndicator>
        </AbsoluteLayout>
    </GridLayout>
</GridLayout>
