/* Add mobile styles for the component here.  */

.main-content {
    background-color: red;
}

.drawer-container {
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
}

.activity-overlay {
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);

    AbsoluteLayout {
        horizontal-alignment: center;
        vertical-alignment: center;
    }

    MDActivityIndicator {
        width: 50;
        height: 50;
    }
}
