<MDCardView class="md-card boarding-card" (tap)="onBoardingTap()">
    <FlexboxLayout>
        <FlexboxLayout class="dates-container" justifyContent="space-around">
            <Label text="Start Date: {{ formatDate(boarding.startDate) }}"></Label>
            <Label text="End Date:  {{ formatDate(boarding.endDate) }}"></Label>
        </FlexboxLayout>
        <StackLayout class="dog-container">
            <ns-dog-avatar *ngFor="let dog of boarding.dogs" [dog]="dog"></ns-dog-avatar>
        </StackLayout>
    </FlexboxLayout>
</MDCardView>
