<ActionBar flat="true" [title]="title" (loaded)="onLoadedActionBar()">
    <NavigationButton
        text="Log In"
        android.systemIcon="ic_menu_back"
        *ngIf="canGoBack"
        (tap)="onGoBack()"
    ></NavigationButton>
    <NavigationButton *ngIf="android && hasMenu" icon="res://menu_black" (tap)="onToggleMenu()"></NavigationButton>
    <ActionItem *ngIf="!android && hasMenu" ios.position="left" (tap)="onToggleMenu()">
        <Label text="&#xf0c9;" class="fas"></Label>
    </ActionItem>
    <ng-content></ng-content>
</ActionBar>
