<GridLayout row="0" col="0" class="overlay" rows="*" columns="*" opacity="0" id="overlayGridLayout"> </GridLayout>
<GridLayout
    row="0"
    col="0"
    rows="auto, auto, auto"
    columns="*,*"
    verticalAlignment="center"
    class="select-date"
    id="selectDateGridLayout"
    visibility="hidden"
    opacity="0"
>
    <Label row="0" col="0" colSpan="2" [text]="title" class="title-select-date"></Label>
    <DatePicker
        id="datePicker"
        row="1"
        col="0"
        colSpan="2"
        verticalAlignment="center"
        [date]="date"
        [minDate]="minDate"
        [maxDate]="maxDate"
        verticalAlignment="center"
    >
    </DatePicker>
    <Button row="2" col="0" text="Cancel" class="btn-next" (tap)="onCancel()"></Button>
    <Button row="2" col="1" text="Done" class="btn-previous" (tap)="onSubmit()"></Button>
</GridLayout>
