/* Add mobile styles for the component here.  */
@import '../../../../theme/colors';

.overlay {
    background-color: $primary;
    opacity: 0.5;
}

/*
* orange: #f6bd00
* blue: #024184
* gris: #636363
*/

ActionBar {
    background-color: #024184;
    color: white;
}

ListView {
    //separator-color: transparent;
}

.item-stepper {
    color: #ffffff;
    font-weight: bold;
    border-color: #cccccc;
    border-width: 1;
    text-align: center;
    background-color: #cccccc;
    clip-path: polygon(50% 0%, 100% 21%, 89% 76%, 50% 100%, 12% 76%, 0 22%);
    padding: 10 0;
}

.current-step {
    background-color: #f6bd00;
    color: #ffffff;
    border-color: #ffffff;
}

.successful-step {
    background-color: #f6bd00;
    color: #024184;
    border-color: #f6bd00;
}

.line-stepper {
    background-color: #f6bd00;
    border-width: 1;
    border-color: #f6bd00;
}

.item-image--stepper {
    width: 100;
    height: 30;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    background-image: url('~/images/airplane.png');
}

.home {
    background-color: #024184;
}

.cloud {
    width: 360;
    margin-top: 24;
}

.body {
    background-color: #ffffff;
}

.btn-next {
    background-color: $secondary; //#f6bd00;
    color: #ffffff;
    padding: 10 15;
    font-weight: bold;
}

.btn-previous {
    background-color: $primary;
    color: #ffffff;
    padding: 10 15;
    font-weight: bold;
}

.btn-previous:disabled {
    background-color: #cccccc;
}

.btn-next:disabled {
    background-color: #cccccc;
}

.bottom-content {
    background-color: #ffffff;
}

.arrow-next {
    font-weight: bold;
    color: #024184;
}

/* Select Date */

.select-date {
    background-color: #ffffff;
    margin: 0 24;
    border-radius: 10;
}

.title-select-date {
    padding: 16 0 4 0;
    text-align: center;
    color: $secondary; //#024184;
    font-weight: 500;
}

.scf-input {
    border-bottom-width: 1;
    border-bottom-color: #eeeeee;
    padding: 4 32 4 0;
    height: 28;
}

.animate-bounceInUp-delay-0ms {
    opacity: 0;
    animation-name: bounceInUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

.animate-bounceInLeft-delay-0ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
}

.animate-bounceInDown-delay-600ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.animate-bounceInDown-delay-1100ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1.1s;
}

.animate-bounceInDown-delay-1600ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1.6s;
}

.animate-bounceInDown-delay-2100ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 2.1s;
}

.animate-bounceInDown-delay-2600ms {
    opacity: 0;
    animation-name: bounceInDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 2.6s;
}

.animate-bounceInLeft-delay-100ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.animate-bounceInLeft-delay-1100ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 1.1s;
}

.animate-bounceInLeft-delay-2100ms {
    opacity: 0;
    animation-name: bounceInLeft;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-delay: 2.1s;
}
