@import './app.common';
//@import '~nativescript-theme-core/scss/platforms/index.android';

// .btn {
//   background: #7c015d;
//   color: white;
//}

.md-btn {
    border-radius: 1.5;
    box-shadow: 2;
}

.md-card {
    elevation: 3;
}
